terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/.terraform.lock.hcl

*.pem
*.key
*.tfvars

product-service/target/
**/node_modules/
**/.DS_Store

.vscode/
.idea/
*.iml

Thumbs.db
.DS_Store
